/*Mobile First Style*/
.logo {
  width: 12rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 2rem !important;
  background-color: transparent !important;
  padding: 0 !important;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {

}
