@import url(./theme/theme.css);

body {
  background-color: var(--primary-bg-color);
  color           : var(--default-color);
}

.pageContainer {
  width : var(--ui-wrapper-width);
  height: var(--ui-wrapper-height);

  display        : var(--ui-wrapper-display);
  flex-direction : var(--ui-wrapper-flex-direction-column);
  justify-content: var(--ui-wrapper-justify-content-flex-start);
  align-items    : var(--ui-wrapper-align-items-flex-start);

  position: relative;

  row-gap: 0.3rem;
}

.dashboardContainer {
  padding: var(--container-padding);

  display        : var(--dashboard-display);
  flex-direction : var(--dashboard-flex-direction);
  justify-content: var(--dashboard-justify-content);
  align-items    : var(--dashboard-align-items);
}

.rotate {
  /* background-color: red; */
  padding: 0;

  display        : var(--dashboard-display);
  justify-content: var(--justify-content-center);
  align-items    : var(--align-items-center);
  animation      : rotate 1s linear infinite;
}

.actionComponentsWrapper {
  width          : var(--full-width);
  display        : var(--ui-wrapper-display);
  flex-direction : var(--ui-wrapper-flex-direction-column);
  justify-content: var(--ui-wrapper-justify-content-flex-end);
  align-items    : var(--ui-wrapper-align-items);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {
  .actionComponentsWrapper {
    flex-direction: var(--ui-wrapper-flex-direction-row);
  }
}