/*Mobile First Style*/
.label {
  /* margin: 0 0.15rem !important; */

  width           : 4rem !important;
  padding         : 0rem !important;
  height          : 100% !important;
  display         : flex !important;
  justify-content : center !important;
  align-items     : center !important;
  background-color: transparent !important;

  color: rgba(255, 255, 255, 0.7) !important;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {}