/*Mobile First Style*/
.main {
  width: var(--form-input-width);
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  justify-content: var(--justify-content-flex-start);
  align-items: var(--align-items-flex-start);
}

.main label {
  width: 100%;
  height: auto;
  padding: 0.25rem 0.15rem;
  font-size: var(--text-normal);
}

.main .wrapper {
  width: var(--full-width);
  position: relative;
}

.main .wrapper .icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-40%);
}

.main input {
  width: var(--form-input-width);
  height: var(--ui-size-normal);

  border: 1px solid var(--default-border-color);
  border-radius: 0.2rem;
  background-color: var(--secondary-bg-color);
  padding: 0 0.7rem;
  color: var(--default-color);
  transition: 0.3s ease-in-out;
}

.main input:hover {
  border: 1px solid var(--hover-border-color);
}

.main input:focus {
  outline: none;
  border: 1px solid var(--hover-border-color);
}

.main input.error, 
.main input.error:focus,
.main input.error:hover {
  border: 1px solid var(--danger);
}

.main span {
  width: var(--full-width);
  font-size: var(--text-normal);
  color: var(--danger);
  padding: 0.2rem;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {

}
