/*Mobile First Style*/
.main {
  width: 100%;
  margin-bottom: 0.2rem;
}

.main label {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 550;
}

.select {
  margin-top: 0.2rem !important;
  width: 100% !important;
}





/*Devices larger than mobile phone*/
@media (min-width: 576px) {

}
