/*Mobile First Style*/
.categoryDetailsWrapper {
  width : var(--full-width);
  height: var(--ui-size-large);

  display        : var(--ui-wrapper-display);
  justify-content: var(--ui-wrapper-justify-content-space-between);
  align-items    : var(--ui-wrapper-align-items);

  background-color: var(--secondary-bg-color);
  border-radius   : var(--default-border-radius);
  border          : 1px solid var(--default-border-color);
  padding         : 0 1rem 0 1rem;
}


/*Devices larger than mobile phone*/
@media (min-width: 576px) {}