/*Mobile First Style*/
.main {
  
}

.actionComponentsWrapper {
  width          : var(--full-width);
  display        : var(--ui-wrapper-display);
  flex-direction : var(--ui-wrapper-flex-direction-column);
  justify-content: var(--ui-wrapper-justify-content-flex-end);
  align-items    : var(--ui-wrapper-align-items);
}

.buttonMain {
  margin-left: 0.5rem;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {
  .actionComponentsWrapper {
    flex-direction: var(--ui-wrapper-flex-direction-row);
  }

  .buttonMain button {
    width: 15rem !important;
  }
}