/*Mobile First Style*/
.main {
  width  : var(--full-width);
  height : var(--auto-height);
  /* padding: 0.5rem 0; */
}

.main.fitButtonToWrapper,
.main.fitButtonToWrapper button {
  width: fit-content;
}

.button {
  width           : var(--button-width);
  height          : var(--ui-size-normal);
  padding         : var(--button-padding);
  background-color: var(--ui-bg-color);
  border          : 1px solid var(--ui-button-border-color);
  border-radius   : 0.2rem;
  color           : var(--default-color);
  transition      : 0.1s ease-in-out;

  display        : var(--dashboard-display);
  justify-content: var(--justify-content-center);
  align-items    : var(--align-items-center);

  cursor: pointer;
}

.button:hover {
  background-color: var(--ui-hover-bg-color);
  border-color    : var(--ui-button-hover-border-color);
}

.button .loading {
  /* background-color: red; */
  padding: 0;
  margin : 0 1rem 0 0;

  display        : var(--dashboard-display);
  justify-content: var(--justify-content-center);
  align-items    : var(--align-items-center);
  animation      : rotate 1s linear infinite;
}

.floating {
  position: fixed;
  right   : 6%;
  bottom  : 15%;
  width   : 3.5rem !important;
  height  : 3.5rem;

  border-radius: 100%;
  border       : none;
  z-index      : 1;

  background-color: var(--ui-secondary-bg-color);
  color           : var(--primary-bg-color);

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.button.floating:hover {
  background-color: var(--ui-hover-secondary-bg-color);
}

.button:disabled {
  background-color: var(--default-border-color);
  border-color    : var(--hover-border-color);
  color: var(--mute);
  cursor: not-allowed;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {}