/*Mobile First Style*/
.main {
  width : 100%;
  height: auto;

  display        : var(--display-flex);
  flex-direction : var(--flex-direction-column);
  justify-content: var(--justify-content-center);
  align-items    : var(--align-items-center);
}

.main .title {
  width  : var(--full-width);
  height : auto;
  padding: 0.3rem 0.5rem;

  display        : var(--display-flex);
  justify-content: var(--justify-content-flex-start);
  align-items    : var(--align-items-center);

  font-weight: 600;
  color      : var(--mute)
}

.main .fileImage {
  width : var(--full-width);
  height: auto;
}

.main .fileImage .imageWrapper {
  width : var(--full-width);
  height: auto;

  display        : flex;
  flex-direction : var(--flex-direction-column);
  justify-content: var(--justify-content-flex-center);
  align-items    : var(--align-items-start);
  row-gap        : 0.3rem;
}

.main .fileImage .imageWrapper .image {
  width : var(--full-width);
  height: 4.5rem;

  display        : var(--display-flex);
  justify-content: var(--justify-content-flex-start);
  align-items    : var(--align-items-center);
  column-gap     : 0.3rem;

  padding: 0.5rem;

  background-color: rgba(22, 33, 60, 0.1);
  border-radius   : 0.3rem;
  border          : 1px dotted rgba(255, 255, 255, 0.09);
  transition      : all 0.3s ease-in-out;

  cursor: pointer;
}

.main .fileImage .imageWrapper .image:hover {
  background-color: rgba(22, 33, 60, 0.5);
}

.main .fileImage .imageWrapper .image>span {
  width : var(--full-width);
  height: 100%;
}

main .fileImage .imageWrapper .image>span a {
  width : var(--full-width);
  height: 100%;

  display        : var(--display-flex);
  justify-content: var(--justify-content-flex-start);
  align-items    : var(--align-items-flex-end);
  color          : var(--hover-border-color);
}

.main .fileImage .imageWrapper .image>img {
  width : auto;
  height: 100%;
}

.main .fileImage .imageWrapper .image .imageIcon {
  margin-right: 1rem;
  cursor      : pointer;
}

.fileUploader {
  
  width : 100%;
  height: 5rem;

  border-radius: 0.3rem;
  border       : 1px dotted var(--hover-border-color);

  cursor: pointer;

  background-color: var(--secondary-bg-color);

  display        : var(--display-flex);
  flex-direction: column;
  justify-content: var(--justify-content-center);
  align-items    : var(--align-items-center);

  color: var(--placeholder-color);

  transition: all 0.3s ease-in-out;

  column-gap: 1rem;
}

.fileUploader:hover {
  border-color: var(--mute);
}

.fileUploader.error,
.fileUploader.error:hover {
  border-color: var(--danger);
}

.main span.error {
  width     : var(--full-width);
  height    : auto;
  text-align: left;
  font-size : var(--text-normal);
  color     : var(--danger);

  padding: 0.2rem;
}

.disabled {
  background-color: var(--disabled-bg-color);
}

.fileUploader.disabled,
.fileUploader.disabled:hover {
  border-color: var(--hover-border-color);
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {
  .fileUploader {
    flex-direction: row;
  }
}